/* Color Of The Body */
body {
  background-color: #C0A9BD;
}

/*Main Header Setting*/
.header {
    overflow: hidden;
    background-color: #ffffff;
    margin: -8px;
}

/* Header Buttons Code */
.headerbutton {
    border: 2px solid black;
    background-color: #85F7FE;
    float: left;
    cursor: pointer;
    margin: 5px;
}

.headerbutton a {
  float: auto;
  padding: 10px;
  margin-top: 30px;
}

/*Text Align Code*/
.header a, .hero-text, .hero-text-kids, .hero-text-teachers, .hero-text-researchers, .hero-text-about, .hero-text-2, .hero-text-3, .hero-text4, .hero-text5, .hero-text6, .hero-text7, .hero-text8, .hero-text9, .hero-text10, .hero-image11, .flex-container > div, .flex-parent > div, .hero-button, .content-buttons a, .flex-container-1 > div, .flex-container-2 > div, .flex-contact > div, .flex-contain > div, .hero-image12, .hero-text13, .hero-image14, .hero-text14, .hero-text15, .exhibition-text, #professor, #stiller, #loan {
  text-align: center;
}

/*Font Family Code*/
.headerbutton, .hero-text, .hero-text-kids, .hero-text-teachers, .hero-text-researchers, .hero-text-about, .hero-text-2, .hero-text-3, .hero-text4, .hero-text5, .hero-text6, .hero-text7, .hero-text8, .hero-text9, .hero-text10, .hero-image11, .hero-button, .flex-container > div, .flex-parent > div, .flex-contain > div, .hero-image12, .hero-text13, .content-buttons, .logo-text, .hero-text14, .hero-text15, .exhibition-text, #professor, #stiller, #loan {
  font-family: monospace;
}

/*Common Code On Border Radius*/
.headerbutton, .header a.active, .header a, .hero-image, .hero-image-kids, .hero-image-teachers, .hero-image-researchers, .hero-image-about, .hero-image2, .hero-image3, .hero-image4, .hero-image5, .hero-image6, .hero-image7, .hero-image8, .hero-image9, .hero-image10, .hero-image11, .hero-button, .flex-container > div, .content-buttons a, .flex-parent a, .hero-button, .flex-container-1 > div, .flex-container-2 > div, .flex-contact > div, .flex-contain > div, .hero-image12, .hero-image13, .hero-image14, .hero-image15, .flex-contact1 {
  border-radius: 15px;
}

/* Buttons While Hover */
.headerbutton:hover, .flex-parent a:hover, .content-buttons a:hover, .hero-button:hover, #location:hover, #phone:hover, #email:hover, #professor:hover, #stiller:hover, #loan:hover  {
    background-color: #AF81E4;
}

/* Active Link In Header*/
.header a.active {
    background-color: #000000;
    color: white;
    border: 2px solid white;
    margin: 15px;
  }

/* Buttons Potition Setting In Header */
.header-right {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
/* Logo Text Position Setting */
.header-left {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Links In Header Code */
.header a {
    float: left;
    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 17px; 
    line-height: 25px;
    margin: 10px;
}

/*Hero Images Code And Photo URLs*/
.hero-image, .hero-image6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i1.pickpik.com/photos/311/116/33/learn-mathematics-child-girl-preview.jpg") 
}

.hero-image-kids, .hero-image7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1485460535564-844461f37f77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHx8&w=1000&q=80')
}

.hero-image-teachers, .hero-image8, .hero-image12  {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://bib.kuleuven.be/2bergen/mgas/afbeeldingen/generieke-afbeeldingen/samuel-zeller-113381-unsplash.jpg/image')
}

.hero-image-researchers, .hero-image9, .hero-image13 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://lillestrom-osteopati.no/wp-content/uploads/2017/05/jesse-orrico-60373.jpg')
}

.hero-image-about, .hero-image10 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/thumbnails/image/Photo%20by%20Roberto%20Nickson%20on%20Unsplash-%20Smithsonian%20National%20Museum%20of%20Natural%20History%2C%20Washington%2C%20United%20States.jpg')
}

.hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://virmuze-bucket.s3.amazonaws.com/exhibit_main_logo/exhibit_logo/2018/03/09/ef8c6ef_exhibit_logo.jpg')
}

.hero-image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2015/09/24/22/11/genoa-956405_1280.jpg')
}

.hero-image4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://lh4.googleusercontent.com/TnUFR-GSlIFUedR5_7T4q-jww_rH3rqvcHhAGBjCF862l8rBHIx9cO0ZNcQkPqcF0iy_-JRH8poeltHnb9k_EEzd1XyXhaXkiCyutuq-CoFclVvZnZ4W_AOUcrA6JzTmk8HM3yk9')
}

.hero-image5, .hero-image11 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://ec.europa.eu/regional_policy/rest/projects/upload/176_4309_image2.jpg')
}

.hero-image14 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.squarespace-cdn.com/content/v1/585087f0cd0f68d5e11ddd76/1515789069262-W5O00KJFXAQ23J6IBEKA/samuel-zeller-158996.jpg')
}

.hero-image15 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://framtidajunior.no/wp-content/uploads/2020/05/mammoth-1257288_1920.jpg')
}

/*Hero Images Code*/
.hero-image, .hero-image-kids, .hero-image-teachers, .hero-image-researchers, .hero-image-about, .hero-image2, .hero-image3, .hero-image4, .hero-image5, .hero-image6, .hero-image7, .hero-image8, .hero-image9, .hero-image10, .hero-image11, .hero-image12, .hero-image13, .hero-image14, .hero-image15 {
    margin-top: 30px;
    margin-left: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image11 {
  margin-left: -0px;
  margin-top: 25px;
}

.hero-image, .hero-image-kids, .hero-image-teachers, .hero-image-researchers, .hero-image-about, .hero-image2, .hero-image3, .hero-image4, .hero-image5, .hero-image6, .hero-image7, .hero-image8, .hero-image9, .hero-image10, .hero-image11, .hero-image12, .hero-image13, .hero-image14, .hero-image15  {
  width: 1400px;
}

.hero-image {
  height: 300px;
}

.hero-image-kids, .hero-image-teachers, .hero-image-researchers, .hero-image-about, .hero-image11, .hero-image12, .hero-image13, .hero-image14, .hero-image15 {
  height: 600px;
}

.hero-image3, .hero-image5, .hero-image6, .hero-image7, .hero-image8, .hero-image9, .hero-image10 {
  height: 250px;
}

.hero-image4 {
  height: 500px;
}

.hero-image2 {
  height: 400px;
}

/* Place text in the middle of the image Hero Images */
.hero-text, .hero-text-kids, .hero-text-teachers, .hero-text-researchers, .hero-text-about, .hero-text-2, .hero-text-3, .hero-text4, .hero-text5, .hero-text6, .hero-text7, .hero-text8, .hero-text9, .hero-text10, .hero-image11, .hero-image12, .hero-text13, .hero-text14, .hero-text15  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text-kids, .hero-image-teachers, .hero-text-researchers, .hero-text-about, .hero-text-2, .hero-text-3, .hero-text4, .hero-text5, .hero-text6, .hero-text7, .hero-text8, .hero-text9, .hero-text10, .hero-image11, .hero-image12, .hero-text13, .hero-text14, .hero-text15 {
  font-size: 20px;
}

/* Hero Button Code */
.hero-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }

  /*Flex Properoties*/
  .wrap { flex-wrap: wrap; }

  .around  { 
    justify-content: space-around; 
  }

  .column { 
    flex-direction: column; 
  }

  /* Main Flex Setting*/
  .flex-container {
    display: flex;
    background-color: #C0A9BD;
    margin: 0 0 10px 0;
    margin-top: -150px;
  }
  
  /*The Different Divs Setting In Main Flex*/
  .flex-container > div {
    width: 400px;
    margin: 10px;
    line-height: 40px;
    font-size: 20px;
    margin-left: 55px;
    padding-top: 20px;
    margin-top: 50px;
  }

  /* Images In The Flex Home Page Container Code */
  .flex-container img {
    width: 350px;
    height: 250px;
  }

  /*Setting Different Background Colors For The Flex Boxes*/
  .cosmology {
    background-color: #A4ED9B;
  }

  .evalution {
    background-color: #7CC2F6;
  }

  .biology {
    background-color: #F89F5B;
  }

  .robots {
    background-color: #F89F5B;
  }

  .ecology {
    background-color: #A4ED9B
  }

  .exhil {
    background-color: #7CC2F6;
  }

  /*Flex Setting To Hero Images*/
  .flex-parent {
    display: flex;
    padding-top: 50px;
  }
  
  /*Hero Images Flex Main Setting*/
  .flex-parent > div {
    width: 300px;
    height: 200px;
    margin: 10px;
    line-height: 20px;
    font-size: 15px;
  }

  .hero-button {
    line-height: 20px;
    font-size: 15px;
  }

  .hero-button a {
    text-decoration: none;
    color: #000000;
  }

  .content-buttons a, .flex-parent a, .hero-button {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #000000;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    font-size: 20px; 
    line-height: 25px;
    float: auto;
    }

    .content-buttons a {
      padding: 5px;
    }

    .content-buttons {
      margin-bottom: 30px;
    }

    .flex-parent a {
      padding: 15px;
    }


    /*3 Below Are The CSS Code For The Information Boxes*/
.flex-container-1, .flex-container-2 {
  display: flex; 
  background-color: #C0A9BD;
}

.flex-container-1 > div, .flex-container-2 > div {
  border: 2px solid #000000;
  background-color: #ffffff;
  margin: 10px;
  line-height: 25px;
  font-size: 17px;
  margin-inline: auto;
}

.flex-container-1 > div, .flex-container-2 > div {
  width: 350px;
  height: 100px;
}

/*Main Form Setting*/
.contactform, .checkoutform {
  background-color: #ffffff;
  color: #000000;
  width: 600px;
  padding: 1em;
  border: 2px solid #000000;
  border-radius: 1em;
}

/*Contact Form In Contact Page Code*/
.contactform {
  margin: 50px auto;
}

/*Checkout Form Code*/
.checkoutform {
  margin: 20px;
}

/*List Settings*/
ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

/*Length Of The Text In Form*/
label {
  display: inline-block;
  width: 200px;
  text-align: center;
}

/*Input Field After This Sign*/
label::after {
  content: ":";
}

/*Input Area Code*/
input,textarea {
font: 1em sans-serif;
width: 350px;
box-sizing: border-box;
border: 2px solid #000000;
outline: none;
background-color: #C0A9BD;
}

/*Comment Field Code*/
textarea {
vertical-align: middle;
height: 5em;
resize: vertical;
resize: none;
}

/*Button In The Form*/
form a {
border: 2px solid #C0A9BD;
background-color: #000000;
float: auto;
cursor: pointer;
border-radius: 15px;
margin: 200px;
padding: 10px;
text-decoration: none;
color: #ffffff;
}

.text-contact {
  text-align: center;
}

.flex-contact, .flex-contain, .flex-contact1 {
  display: flex; 
}

.flex-contact > div, .flex-contain > div, .flex-contact1 > div {
  border: 2px solid #000000;
  margin-inline: auto;
}

.flex-contact > div, .flex-contain > div {
  background-color: #ffffff;
}

.flex-contact > div, .flex-contact1 > div  {
  font-size: 17px;
  margin: 10px;
  line-height: 25px;
}

.flex-contain > div {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  text-align: center;
}

.flex-contact > div {
  width: 350px;
  height: 100px;
}

.flex-contain > div {
  width: 450px;
  height: 400px;
}

.text-contact, .contactform, .flex-contact, .exhibition-text {
  padding-top: 40px;
}

.flex-contact  {
  margin-left: 170px;
}

.flex-contact1 > div {
  width: 450px;
  height: 400px;
}

.flex-contact1 {
  margin-left: 50px;
}

.hero-button {
  background-color: #E784BA;
}

.content-buttons {
  background-color: #E0B0FF;
}

#professor, #stiller, #loan {
  background-color: #EFEB68;
}